.slide {
    width: 100%;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
}