.container-fluid {
    background-color: black;
}

.navbar-bg-light {
    padding-top: none;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.icon {
    filter: invert(100%);
    width: 50px;
    height: 50px;
}



body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "tahoma";
    font-size: 17px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    font-family: "tahoma";
    color: black;
  }
  
  .topnav a.active {
    background-color: #ffffff;
    font-family: "tahoma";
    color: rgb(0, 0, 0);
  }

.header {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: bottom;
    background-image: url('assets/a.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-shadow:    inset  0 -100px 100px -10px rgb(0, 0, 0);
    -webkit-box-shadow: inset  0 -100px 100px -10px rgb(0, 0, 0);
    box-shadow:         inset  0 -100px 100px -10px rgb(0, 0, 0);
}

.light {
    filter: invert(1);
    width: 9em;
}

.t1 {
    padding: 1em;
    text-align: center;
    font-family: "trebuchet ms";
    background-color: black;
    color:#ffffff;
}

.t3 {
    padding: 10px;
    text-align: center;
    font-family: "trebuchet ms";
    background-color: black;
    color:#ffffff;
    border-radius: 0 0 8px 8px;
}

.t2 {
    text-align: center;
    font-family: "impact";
}

#titles {
    font-family: "tahoma";
}

.item {
    margin-top: 0.5em;
    height: 10em;
    width: 90%;
    border-radius: 10px;
    object-fit: cover; 
}

.container {
    border-radius: 15px;
    box-shadow: -1px 5px 15px rgb(77, 77, 77);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "trebuchet ms";
    width: 10em;
    margin: 2em;
}

  .container:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
    background-color: #000000;
    color: white;
    box-shadow: none;
  }

  .container:active {
    transform: scale(1);
    background-color: #ffffff;
    box-shadow: -1px 5px 15px rgb(77, 77, 77);
    color: rgb(0, 0, 0);
  }

.division {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    margin: 1em;
    width: 500px;
    overflow: hidden;
    background-color: #ffffff;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px rgb(77, 77, 77);
}

.slide {
    width: 100%;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
}

.options {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-family: "trebuchet ms";
}

.info2 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-family: "trebuchet ms";
}

.item2 {
    margin-top: 0.5em;
    height: 15em;
    width: 15em;
    border-radius: 20px 20px 0 0;
    object-fit: cover; 
}

.container3 {
    border-radius: 25px;
    box-shadow: -1px 5px 15px rgb(77, 77, 77);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "trebuchet ms";
    width: 15em;
    margin: 2em;
}

  .container3:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
    background-color: #000000;
    color: white;
    box-shadow: none;
  }

  .container3:active {
    transform: scale(1);
    transition-duration: 0.1s;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: -1px 5px 15px rgb(77, 77, 77);
  }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    font-family: "trebuchet ms";
    padding: 5%;
    margin: 5%;
    text-align: center;
    height: 60vh;
    background-color: #ffffff;
    width: 25vh;
    border-radius: 20px;
    color: #000000;
    box-shadow: -1px 5px 15px rgb(77, 77, 77);
}
  .card:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
  }

  .card:active {
    transform: scale(1);
    transition-duration: 0.1s;
  }

.cardbody {
    font-family: "trebuchet ms";
    text-align: center;
}

input[type=text],[type=password] {
    width: 60%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }
  
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
  }

.user {
    margin: 20px;
    width: 15em;
}

.button {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    width: 7em;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  .button:hover {
    background-color: #7c7c7c;
    transition: 0.2s;
  }